{% extends 'main/base.html' %}
{% load static %}
{% block title %} - Outreach - About{% endblock %}
{% block main %}
<style type="text/css">

  .main_container {

    padding:20px;
  }
  .mask_slide_title {
    position:absolute;
    top:0;
    text-align:center;
    width:100%;
    text-shadow: 0 0 6px black;
    font-size:32px;
  }
  .mask_slide_title a {
    color:white;
  }
  .carousel-fixed-item {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    top:45%;
    padding:0px 10px;
  }
</style>
<div class="main_container">
  <div class="page_title"><a href="{% url 'arvo:index' %}">Outreach</a> - About (work in progress)</div>
  <p>Outreach (ARVO) is a method of educating the public about animal agriculture, veganism, and animal rights. The basic idea is to show footage from slaughterhouses, dairy farms, and egg farms, fisheries, etc, in public areas. Outreachers can then approach people watching the footage and talk with them to give context and advocate that they go vegan. It can be performed effectively with both a small or large budget.</p>
  <p>Note: depending on the country, city, and location, there may be restrictions on showing graphic footage in public, wearing masks, playing music, or even demonstrating on public property. Please check the local laws before organizing an event.</p>
  <h2>Organizations</h2>
  <p>There are multiple organizations that organize video outreach events</p>
  <ul>
    <li><a href="https://www.anonymousforthevoiceless.org/">Anonymous for the Voiceless</a></li>
    <li><a href="https://theearthlingsexperience.com/">Earthlings Experience</a></li>
    <li><a href="https://www.facebook.com/justiceforanimalsoutreach/">Justice for Animals</a></li>
    <li><a href="https://www.rootsofmorality.org/">Roots of Morality</a></li>
    <li><a href="https://www.collectivelyfree.org/">Collectively Free</a></li>
    <li><a href="https://buildpeace.org/">PEACE</a></li>
    <li><a href="https://www.facebook.com/groups/VoicesoftheDamned/">Voices of the Damned</a></li>
  </ul>
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item">
      <a class="btn waves-effect bt_prev"><</a>
      <a class="btn waves-effect bt_next">></a>
    </div>
    <div class="carousel-item" href="#one!">
      <img src="{% static '/arvo/masks/anonymous_for_the_voiceless.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://www.anonymousforthevoiceless.org/">Anonymous for the Voiceless</a></div>
    </div>
    <div class="carousel-item" href="#two!">
      <img src="{% static '/arvo/masks/earthlings_experience.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://theearthlingsexperience.com/">Earthlings Experience</a></div>
    </div>
    <div class="carousel-item" href="#three!">
      <img src="{% static '/arvo/masks/peace.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://buildpeace.org/">PEACE</a></div>
    </div>
    <div class="carousel-item" href="#four!">
      <img src="{% static '/arvo/masks/justice_for_animals.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://www.facebook.com/justiceforanimalsoutreach/">Justice for Animals</a></div>
    </div>
    <div class="carousel-item" href="#five!">
      <img src="{% static '/arvo/masks/roots_of_morality.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://www.rootsofmorality.org/">Roots of Morality</a></div>
    </div>
    <div class="carousel-item" href="#six!">
      <img src="{% static '/arvo/masks/collectively_free.jpg' %}"/>
      <div class="mask_slide_title"><a href="https://www.collectivelyfree.org/">Collectively Free</a></div>
    </div>
  </div>
  <h2>Videos</h2>
  <p>There are many sources of videos, from documentaries to undercover investigations. Most usage should fall under fair use.</p>
  <ul>
    <li><a href="https://www.youtube.com/playlist?list=PLvfUGUfFj_6wFmc3wZTtRVdKTDKsXMyse">Mercy for Animals - Undercover Investigations</a></li>
    <li><a href="https://www.dominionmovement.com/">Dominion</a></li>
    <li><a href="https://www.nationearth.com/">Earthlings</a></li>
    <li><a href="https://www.landofhopeandglory.org/">Land of Hope and Glory</a></li>
    <li><a href="https://www.aussiepigs.com/lucent">Lucent</a></li>
  </ul>
  <h2>Masks</h2>
  <p>Covering your face helps onlookers focus on the footage without the sense someone is staring at them, it can also add to the aesthetic of the installation.</p>
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Guy_Fawkes_mask">Guy Fawkes Masks</a></li>
    <li>Plain White Masks</li>
    <li>Black Tape Over Mouth</li>
    <li>Sunglasses</li>
    <li>Blindfolds</li>
    <li>Dust/Surgical Masks</li>
  </ul>
  <h2>Music</h2>
  <p>Music may be played through a speaker to create atmosphere and grab people's attention.</p>
  <ul>
  <li><a href="https://open.spotify.com/playlist/17rjh6RuqPkkMgclDQ9I6I">Justice for Animals</a></li>
  <li><a herf="https://open.spotify.com/playlist/189qb58hZa3PDsyvBCb0y8">Anonymous for the Voiceless</a></li>
  </ul>
  <h2>Leaflets, Pamphlets, & Booklets</h2>
  <p>Literature may be distributed to give people something they can take home.</p>
  <ul>
    <li><a href="https://www.petaliterature.com/">Peta</a></li>
    <li><a href="https://veganoutreach.org/order-form/">Vegan Outreach</a></li>
    <li><a href="https://www.viva.org.uk/resources/campaign-materials/leaflets">Viva!</a></li>
    <li><a href="https://www.animalaid.org.uk/the-issues/campaigns-resources/leaflets/">Animal Aid</a></li>
    <li><a href="https://www.vegansociety.com/resources/publications-and-video/leaflets">The Vegan Society</a></li>
    <li><a href="http://www.howdoigovegan.com/abolitionist-veganism/outreach-materials/">HowDoIGoVegan.com</a></li>
    <li><a href="https://www.nhes.org/product-category/brochures/">National Humane Education Society</a></li>
  </ul>
  <h2>Resource Cards</h2>
  <p>People are often more open to taking a card than an entire pamphlet, many examples are listed below.</p>
  <ul>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/anonymous_for_the_voiceless.jpg' %}">Anonymous for the Voiceless</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/cheyenne.jpg' %}">Naturally Cheyenne</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/animal_rights_toronto.jpg' %}">Animal Rights Toronto</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/justice_for_animals.jpg' %}">Justice for Animals</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/the_save_movement.jpg' %}">The Save Movement</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/we_care_about_animals.jpg' %}">We Care About Animals</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/vigorous_vegan_vagabond.jpg' %}">The Vigorous Vegan Vagabond</a></li>
    <li><a class="carousel-item" href="{% static 'arvo/outreach_cards/voices_of_the_damned.jpg' %}">Voices of the Damned</a></li>
  </ul>

  <h2>Promotion</h2>
  <ul>
    <li>Make posts in facebook groups</li>
    <li>Post flyers in coffee shops, or around campus</li>
    <li>On facebook, you can create <a href="https://www.facebook.com/help/572885262883136/">events</a>, <a href="https://www.facebook.com/help/104002523024878">pages</a> to host them, and <a href="https://www.facebook.com/help/167970719931213">group to plan</a></li>
  </ul>
  <h2>Outreach</h2>
  <p>By standing beside the person and watching the footage along with them, you're joining them in acknowledging the reality that the video conveys. If the organizer wants to keep track of how effective their actions are, outreachers can keep a tally of conversations they felt left an impact.</p>

  <a href="https://www.amazingveganoutreach.com/learnonline">Amazing Vegan Outreach</a>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  });

  let carousel_elements = document.querySelectorAll('.carousel')
  let carousel_instances = M.Carousel.init(carousel_elements, {
    fullWidth: true,
    indicators: true
  });
  for (let i=0; i<carousel_elements.length; ++i) {
    let bt_prev = carousel_elements[i].querySelector('.bt_prev')
    let bt_next = carousel_elements[i].querySelector('.bt_next')
    bt_prev.onclick = function() {
      carousel_instances[i].prev()
    }
    bt_next.onclick = function() {
      carousel_instances[i].next()
    }
  }
</script>
{% endblock %}
