{% extends 'main/base.html' %}
{% block title %} - Outreach - Facts{% if tag_name %} about {{tag_name | title}}{% endif %}{% endblock %}
{% block main %}

<style type="text/css">

  .children .collapsible-header {
    margin-bottom:20px;
  }

  .children .collapsible-header a {
    text-align:center;
    width:100%;
    height:100%;
    display:block;
    font-size:24px;
  }

  .collapsible li {
    margin-top: 20px;
  }

  .fact_text {
    padding:10px;
    font-size:20px;
  }
  .fact_button_bar {
    padding:10px;
    display:flex;
    font-size:18px;
    flex-direction:row;
    justify-content:space-between;
  }

  .collapsible li.active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }

  .collapsible hr {
    width:100%;
  }

  .fact_header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }


  .sources_title {
    font-size:20px;
  }
  .child_reference {
    text-align:center;
    display:block;
  }
  .page_title {
    margin-bottom:0;
  }
</style>

<div class="page_title">Facts</div>
<nav class="breadcrumbs">
  <div class="nav-wrapper">
    <div class=" col s12">
      <a href="{% url 'arvo:index' %}" class="breadcrumb">Outreach</a>
      <a href="{% url 'arvo:facts' %}" class="breadcrumb">Facts</a>
      {% if tag_name %}<a class="breadcrumb">{{tag_name}}</a>{% endif %}
    </div>
  </div>
</nav>
<ul class="children collapsible expandable">
  {% for child_reference in child_references %}
  <li>
    <a class="collapsible-header child_reference" href="/outreach/facts/{{child_reference.name}}/">{{child_reference.name}}</a>
  </li>
  {% endfor %}
</ul>


<ul class="collapsible expandable">
  {% for fact in facts %}
  <li>
    <div class="collapsible-header fact_header">
      <div class="fact_text">{{ fact.text }}</div>
      <div class="fact_button_bar">
        <i class="material-icons">expand_more</i>
      </div>

    </div>
    <div class="collapsible-body">
      <span>{{fact.extra_text}}</span>
      <div class="sources_title">Sources</div>
      <ul>
      {% for source in fact.sources.all %}
      <li><a href="{{source.url}}">{{source.title}}</a> - {{source.publication}}</li>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible.expandable');
    var instances = M.Collapsible.init(elems, {
      accordion: false,
    });
  });

  let dont_expands = document.querySelectorAll('.dont_expand')
  for (let i=0; i<dont_expands.length; ++i) {
    dont_expands[i].onclick = function(e) {
      e.stopPropagation();
    }
  }
</script>


{% endblock %}
