{% extends 'main/base.html' %}
{% block title %}- Outreach{% endblock %}
{% block main %}
<style type="text/css">
  .collapsible-header {
    text-align:center;
    width:100%;
    height:100%;
    display:block;
    font-size:24px;
    margin-bottom:20px;
  }

</style>
<div class="page_title_center">Outreach</div>
<ul class="collapsible expandable">
  <li>
    <a href="/outreach/facts/" class="collapsible-header">facts</a>
  </li>
  <li>
    <a href="/outreach/responses/" class="collapsible-header">responses</a>
  </li>
  <li>
    <a href="/outreach/resources/" class="collapsible-header">resources</a>
  </li>
  <li>
    <a href="/outreach/codeofconduct/" class="collapsible-header">code of conduct</a>
  </li>
  <li>
    <a href="/govegan/" class="collapsible-header">go vegan</a>
  </li>
  <li>
    <a href="/outreach/about/" class="collapsible-header">about</a>
  </li>
</ul>

{% endblock %}
