{% extends 'main/base.html' %}
{% load static %}
{% block title %} - Outreach - Resources{% endblock %}
{% block main %}
<style type="text/css">
  .resource_div {
    padding-left:10px;
  }
  .resource_div ul {
    padding-left:20px;
  }
  .resource_div li {
    font-size: 20px;
    margin:4px;
    
  }
</style>
<div class="page_title"><a href="{% url 'arvo:index' %}">Outreach</a> - Resources</div>
<div class="resource_div">
<h2>Outreach</h2>
<ul class="browser-default">
  <li><a href="https://www.amazingveganoutreach.com/learnonline">Amazing Vegan Outreach's web series</a></li>
  <li><a href="https://www.facebook.com/toni.dipianduni/videos/211704999602669/">Workshop by Amazing Vegan Outreach</a></li>
  <li><a href="https://www.facebook.com/naturallycheyenne/videos/346949579397813/">Workshop by Naturally Cheyenne</a></li>
  <li><a href="https://www.youtube.com/watch?v=ryzuXEI5wfU">Workshop by Marley Delgado</a></li>
  <li><a href="https://www.youtube.com/watch?v=PxCF_8sY54o">How to Talk to Non-Vegans - Earthling Ed</a></li>
  <li><a href="https://www.vegansociety.com/whats-new/blog/five-ways-maximise-your-outreach-non-vegans">Article by The Vegan Society</a></li>
</ul>
<h2>Responses</h2>
<ul class="browser-default">
  <li><a href="https://www.youtube.com/playlist?list=PL03LZR09P2gQJyBgHk_XE8gbj8j9uFs8G">Earthling Ed - 30 Days 30 Excuses</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="https://earthlinged.org/ebook">ebook</a></li>
  <li><a href="https://yourveganfallacyis.com/en">Your Vegan Fallacy Is</a></li>
  <li><a href="https://www.carnismdebunked.com/">Carnism Dubunked</a></li>
  <li><a href="https://justiceforanimals.org/Replies_Listing">Justice For Animals - Replies</a></li>
  <li><a href="http://www.godfist.com/vegansidekick/guide.php">Vegan Sidekick Debate Guide</a></li>
  <li><a href="https://veganspeak.org/vegan-arguments/">Veganspeak - Vegan Arguments Guide</a></li>
</ul>
<h2>Leafleting</h2>
<ul class="browser-default">
  <li><a href="https://veganoutreach.org/leafleting-and-booklet-effectiveness/">Vegan Outreach - Leafleting and Booklet Effectiveness</a></li>
  <li><a href="https://www.peta.org/action/activism-guide/everyday-activism/leafleting/">PETA - Easy and Effective Leafleting</a>
</ul>
</div>
{% endblock %}