{% extends 'main/base.html' %}
{% load static %}
{% block title %} - Outreach - Responses{% endblock %}
{% block main %}
<style type="text/css">
  .collapsible li {
    margin-bottom:20px;
  }
  
  .collapsible-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  
  .event_header_buttons {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }
  
  .collapsible-body a {
    margin:10px;
  }
  
  .response_header_text {
    font-size:20px;
  }
  
  .collapsible li.active i.expand_icon {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
</style>
<div class="page_title"><a href="{% url 'arvo:index' %}">Outreach</a> - Responses</div>
<ul class="collapsible expandable">
  {% for response in responses %}
  <li>
    <div class="collapsible-header">
      <div class="response_header_text">{{ response.name }}</div>
      <div class="response_header_buttons">
        <i class="material-icons expand_icon">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <span>{{response.description|safe}}</span>
    </div>
  </li>
  {% endfor %}
</ul>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible.expandable');
    var instances = M.Collapsible.init(elems, {
      accordion: false
    });
    
    let dont_expands = document.querySelectorAll('.dont_expand')
    for (let i=0; i<dont_expands.length; ++i) {
      dont_expands[i].onclick = function(e) {
        e.stopPropagation();
      }
    }
    
  });
</script>
{% endblock %}