{% extends 'main/base.html' %}
{% block title %} - {{event.title}}{% endblock %}
{% block main %}
<style type="text/css">

  .object {

  }
  .object > * {
    margin-top:8px;
    padding:20px;
    background-color: var(--foreground-color);
    font-size:18px;
  }
  .object_title {
    font-size:32px;
  }
</style>
<div class="object">
  <div class="object_title">{{ event.title }}</div>
  <div class="">
    <div>Hosted by {{event.hosts}}</div>
    <div>{{event.pretty_datetime}}</div>
    <div>{{event.address}}</div>
  </div>
  <div>
    {{event.description | safe}}
  </div>
  <div>
    <a href="{{event.url}}" class="btn">More Info</a>
    <a href="{% url 'events:index' %}" class="btn">View More Events</a>
  </div>

</div>

{% endblock %}