<div class="collapsible-header">
  <div class="object_text">
    <div class="title" title="{{object.id}}">{{ event.title }}</div>
    <ul class="browser-default">
      <li>Hosted by {{event.hosts}}</li>
      <li>{{event.pretty_datetime}}</li>
      <li>{{event.address}}</li>
    </ul>
    <div class="tag_expand_bar">
      {% include 'main/tags.html' with tags=event.tags.all causes=event.causes.all %}
    </div>
  </div>
  <div class="object_buttons">
    <a class="dropdown-trigger dont_expand" data-target="dropdown{{index}}"><i class="material-icons main_object_icon">share</i></a>
    <ul id='dropdown{{index}}' class='dropdown-content'>
      <li><a class="dont_expand" onclick="copyEventLink{{index}}()">Copy Link</a></li>
      <li><a class="dont_expand" onclick="copyEventText{{index}}()">Copy Text</a></li>
      <li><a class="dont_expand" onclick="shareEventEmail{{index}}()">Share by Email</a></li>
      <li><a class="dont_expand" onclick="shareEventFacebook{{index}}()">Share on Facebook</a></li>
      <li><a class="dont_expand" onclick="shareEventTwitter{{index}}()">Share on Twitter</a></li>
    </ul>
    <script type="text/javascript">
      function copyEventLink{{index}}() {
        copyToClipboard(window.location.host+'/{{data_type}}/{{object.id}}/')
      }
      function copyEventText{{index}}() {
        let text = document.title + ' ' + window.location.href + '\n'
        text += '-----------------------\n'
        text += '{{object.title}}\n'
        text += 'Hosted by {{object.hosts}}\n'
        text += '{{object.pretty_datetime}}\n'
        text += '{{object.address}}\n'
        text += window.location.host+'/{{data_type}}/{{object.id}}/\n'
        copyToClipboard(text)
      }
      function shareEventEmail{{index}}() {
        let subject = document.title
        let body = window.location.host+'/{{data_type}}/{{object.id}}/'
        window.location.href = 'mailto:?subject='+encodeURI(subject)+'&body='+encodeURI(body)
      }
      function shareEventFacebook{{index}}() {
        text = window.location.href
        window.location.href = 'https://www.facebook.com/sharer/sharer.php?u=' + encodeURI(text)
      }
      function shareEventTwitter{{index}}() {
        let text = document.title
        let url = window.location.host+"/{{data_type}}/{{object.id}}/"
        window.location.href = 'https://twitter.com/intent/tweet?text=' + encodeURI(text) + '&url=' + encodeURI(url)
      }
    </script>
    <a href="{{object.url}}" class="dont_expand"><i class="material-icons">link</i></a>
    <a><i class="material-icons expand_icon main_object_icon">expand_more</i></a>
  </div>
</div>
<div class="collapsible-body">
  <span>{{object.description | safe}}</span>
</div>