{% extends 'main/base.html' %}
{% block title %} - Submit Event{% endblock %}
{% block main %}

<script src='https://www.google.com/recaptcha/api.js'></script>




<style type="text/css">
  h2 {
    margin: 10px;
  }

  /* Inactive/Active Default input field color */
  /*.input-field input[type]:not([readonly]),
  .input-field input[type]:focus:not([readonly]),
  .input-field textarea:not([readonly]),
  .input-field textarea:focus:not([readonly]) {
      border-bottom: 1px solid #b3e5fc;
      /*box-shadow: 0 1px 0 0 #b3e5fc;*
  }*/

  /* Inactive/Active Default input label color */
  .input-field input[type]:focus:not([readonly])+label,
  .input-field textarea:focus:not([readonly])+label {
    color: #b3e5fc;
  }

  /* Active/Inactive Invalid input field colors */
  /*.input-field input[type].invalid,
  .input-field input[type].invalid:focus,
  .input-field textarea.invalid,
  .input-field textarea.invalid:focus {
      border-bottom: 1px solid #7986cb;
      box-shadow: 0 1px 0 0 #7986cb;
  }*/

  /* Active/Inactive Invalid input label color */
  .input-field input[type].invalid:focus+label,
  .input-field input[type].invalid~.helper-text::after,
  .input-field input[type].invalid:focus~.helper-text::after,
  .input-field textarea.invalid:focus+label,
  .input-field textarea.invalid~.helper-text::after,
  .input-field textarea.invalid:focus~.helper-text::after {
    color: #7986cb;
  }

  /* Active/Inactive Valid input field color */
  /*.input-field input[type].valid,
  .input-field input[type].valid:focus,
  .input-field textarea.valid,
  .input-field textarea.valid:focus {
      border-bottom: 1px solid #b3e5fc;
      box-shadow: 0 1px 0 0 #b3e5fc;
  }*/

  /* Active/Inactive Valid input label color */
  .input-field input[type].valid:focus+label,
  .input-field input[type].valid~.helper-text::after,
  .input-field input[type].valid:focus~.helper-text::after,
  .input-field textarea.valid:focus+label,
  .input-field textarea.valid~.helper-text::after,
  .input-field textarea.valid:focus~.helper-text::after {
    color: #b3e5fc;
  }



  /*.picker__date-display { background-color: #6d4e7a; }
  .picker__day.picker__day--today { color: red; }
  .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected { background-color: #6d4e7a;}
  .picker__close { color: #6d4e7a !important;}
  .picker__today { color: #6d4e7a !important;}
  .clockpicker-tick:hover { background: #6d4e7a !important; }
  .clockpicker-canvas line { stroke: #6d4e7a !important; }
  .clockpicker-canvas-bearing { fill: #6d4e7a !important; }
  .clockpicker-canvas-bg { fill: #6d4e7a !important; }*/
</style>
<div class="main_container">
  <div class="page_title">Submit Event</div>
  <div class="row">
    <form action="{% url 'events:submit' %}" method="post" class="col s12">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{event.id}}" />
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" value="{{event.title}}" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea" class="validate">{{event.description}}</textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" name="address" value="{{event.address}}" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="hosts" name="hosts" value="{{event.hosts}}" type="text" class="validate">
          <label for="hosts">Host(s)</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">

          <input id="start_date" name="start_date" type="text" class="validate datepicker" value="{{event.start_datetime|date:'M d, Y'}}">
          <label for="start_date">Start Date</label>
        </div>
        <div class="input-field col s6">
          <input id="start_time" name="start_time" type="text" class="validate timepicker" value="{{event.start_datetime|time:'h:i A'}}">
          <label for="start_time">Start Time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="end_date" name="end_date" type="text" class="validate datepicker" value="{{event.end_datetime|date:'M d, Y'}}">
          <label for="end_date">End Date</label>
        </div>
        <div class="input-field col s6">
          <input id="end_time" name="end_time" type="text" class="validate timepicker" value="{{event.end_datetime|time:'h:i A'}}">
          <label for="end_time">End Time</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="url" name="url" value="{{event.url}}" type="text" class="validate">
          <label for="url">Url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="tags" name="tags" multiple>
            {% for tag in tags %}
            <option value="{{tag.id}}" {% if tag in event.tags.all %}selected{% endif %}>{{tag.display_name}}</option>
            {% endfor %}
          </select>
          <label for="tags">Tags</label>
        </div>
      </div>
      {% if user.is_superuser %}
      <div class="row">
        <div class="input-field col s12">
          <select id="submission_status" name="submission_status_id">
            {% for submission_status in submission_statuses %}
            <option value="{{submission_status.id}}" {% if submission_status.id in event.submission_status.id %}selected{% endif %}>{{submission_status.name}}</option>
            {% endfor %}
          </select>
          <label for="submission_status">Submission Status</label>
        </div>
      </div>
      {% else %}
      <div class="input-field">
        <div class="g-recaptcha" data-sitekey="6LemOMIUAAAAAG6fsfOflyOHWQvASTGdKoORV0o_"></div>
      </div>
      {% endif %}
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var datepicker_elements = document.querySelectorAll('.datepicker');
    var datepicker_instances = M.Datepicker.init(datepicker_elements, {
      showClearBtn: true
    });

    let timepicker_elements = document.querySelectorAll('.timepicker');
    let timepicker_instances = M.Timepicker.init(timepicker_elements, {
      showClearBtn: true
    });

    let selects = document.querySelectorAll('select');
    let select_instances = M.FormSelect.init(selects, {
      'isMultiple': true
    });
  });
</script>
{% endblock %}
