{% extends 'main/base.html' %}
{% load static %}
{% block title %} - {% if selected_tags %}{% for tag in selected_tags %}{{ tag.display_name}}{% if not forloop.last %} & {% endif %}{%endfor%} {% endif %}{{data_type | title}}{% if subdomain %} near {{ subdomain.name }}{% endif %}{% endblock %}

{% block main %}
<style type="text/css">
  .collapsible-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    font-size: 18px;
  }
  
  .group_title {
    font-size:26px;
  }
  
  .collapsible li {
    margin-bottom:20px;
  }
  
  .collapsible-header {
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
</style>
{% include 'main/header.html' %}
<ul class="collapsible expandable">
  {% for group in groups %}
  <li>
    <div class="collapsible-header ">
      <div class="group_text">
        <div class="group_title">{{ group.name }}</div>
        {% if group.address %}
          <div>{{group.address}}</div>
        {% else %}
          <div>{{group.scope.name}}</div>
        {% endif %}
        {% include 'main/tags.html' with tags=group.tags.all %}
      </div>
      <div class="group_buttons">
        {% if group.email %}<a href="mailto:{{group.email}}"><i class="material-icons">email</i></a>{% endif %}
        {% if group.url %}<a href="{{group.url}}"><i class="material-icons">link</i></a>{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% include 'main/pagination.html' with objects=groups %}
{% endblock %}