






{% extends 'main/base.html' %}
{% block title %} - Submit {{group_type.display_name | title }}{% endblock %}
{% block main %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="main_container">
  <div class="page_title">Submit {{group_type.display_name | title}}</div>
  <div class="row">
    <form action="" method="post" class="col s12">
      {% csrf_token %}
      <input type="hidden" name="group_type_id" value="{{selected_group_type.id}}"/>
      <div class="row">
        <div class="input-field col s12">
          <input id="name" name="name" value="{{group.name}}" type="text" class="validate">
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea" class="validate">{{group.description}}</textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="scopes" name="scopes">
            {% for scope in scopes %}
            <option value="{{scope.id}}" {% if scope == group.scope %}selected{% endif %}>{{scope.name}}</option>
            {% endfor %}
          </select>
          <label for="scopes">Scope</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="address" name="address" value="{{group.address}}" type="text" class="validate">
          <label for="address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="url" name="url" value="{{group.url}}" type="text" class="validate">
          <label for="url">Url</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" value="{{group.email}}" type="text" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="tags" name="tags" multiple>
            {% for tag in tags %}
            <option value="{{tag.id}}" {% if tag in event.tags.all %}selected{% endif %}>{{tag.display_name}}</option>
            {% endfor %}
          </select>
          <label for="tags">Tags</label>
        </div>
      </div>
      {% if user.is_superuser %}
      <div class="row">
        <div class="input-field col s12">
          <select id="submission_status" name="submission_status_id">
            {% for submission_status in submission_statuses %}
            <option value="{{submission_status.id}}" {% if submission_status.id == event.submission_status.id %}selected{% endif %}>{{submission_status.name}}</option>
            {% endfor %}
          </select>
          <label for="submission_status">Submission Status</label>
        </div>
      </div>
      {% else %}
      <div class="input-field">
        <div class="g-recaptcha" data-sitekey="6LemOMIUAAAAAG6fsfOflyOHWQvASTGdKoORV0o_"></div>
      </div>
      {% endif %}
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
    


</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    
    let selects = document.querySelectorAll('select');
    let select_instances = M.FormSelect.init(selects, {
      'isMultiple': true
    });
  });

</script>
{% endblock %}
