{% extends 'main/base.html' %}
{% block title %}login{% endblock %}
{% block main %}
{% if message == 1 %}
<div style="background-color:red;color:white;">Your username and password did not match</div>
{% elif message == 2 %}
<div style="background-color:blue;color:white;">You have successfully logged out</div>
{% endif %}
<h1>Login</h1>
<form action="{% url 'users:login_user' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{next}}"/>
  <input type="text" name="username" placeholder="username"/>
  <input type="password" name="password" placeholder="password"/>
  <button type="submit">Login</button>
</form>
{% endblock %}