{% extends 'main/base.html' %}
{% block title %}login{% endblock %}
{% block main %}
<h1>Register</h1>
<form action="{% url 'users:register_user' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{next}}"/>
  <input type="text" name="username" placeholder="username" required pattern="\w{3,15}" title="username must be between 3 and 15 characters, all lowercase"/>
  <input type="text" name="email" placeholder="email" required pattern="\w+@\w+\.\w+" title="please enter a properly formatted email address"/>
  <input type="password" id="input_password" name="password" placeholder="password"/>
  <input type="password" id="input_password2" name="password2" placeholder="retype password"/>
  <button type="submit" id="bt_register">Register</button>
</form>

<script type="text/javascript">
  bt_register = document.querySelector('#bt_register')
  input_password = document.querySelector('#input_password')
  input_password2 = document.querySelector('#input_password2')
  
  bt_register.onclick = function(evt) {
    if (input_password.value != input_password2.value) {
      alert('those passwords do not match')
      evt.preventDefault()
    }
  }
</script>
{% endblock %}