<div class="collapsible-header">
  <div class="object_text">
    <div>{{ fact.text }}</div>
    <div class="tag_expand_bar">
      {% include 'main/tags.html' with tags=fact.tags.all causes=fact.causes.all %}
    </div>
  </div>


  <div class="object_buttons">
    <a class="dropdown-trigger dont_expand" data-target="dropdown{{index}}"><i class="material-icons main_object_icon">share</i></a>
    <ul id='dropdown{{index}}' class='dropdown-content'>
      <li><a class="dont_expand" onclick="copyFactLink{{index}}()">Copy Link</a></li>
      <li><a class="dont_expand" onclick="copyFactText{{index}}()">Copy Text</a></li>
      <li><a class="dont_expand" onclick="shareFactEmail{{index}}()">Share by Email</a></li>
      <li><a class="dont_expand" onclick="shareFactFacebook{{index}}()">Share on Facebook</a></li>
      <li><a class="dont_expand" onclick="shareFactTwitter{{index}}()">Share on Twitter</a></li>
    </ul>
    <script type="text/javascript">
      function copyFactLink{{index}}() {
        copyToClipboard(window.location.host+"{% url 'facts:detail' object.id %}")
      }
      function copyFactText{{index}}() {
        let text = document.title + ' ' + window.location.href + '\n'
        text += '-----------------------\n'
        text += '{{fact.name}}\n'
        {% if fact.address %}
          text += '{{fact.scope.name|title}} - {{fact.address}}'
        {% else %}
          text += '{{fact.scope.name|title}}'
        {% endif %}
        text += '{{fact.description}}\n'
        text += '{{fact.url}}\n'
        copyToClipboard(text)
      }
      function shareFactEmail{{index}}() {
        let subject = document.title
        let body = window.location.href
        window.location.href = 'mailto:?subject='+encodeURI(subject)+'&body='+encodeURI(body)
      }
      function shareFactFacebook{{index}}() {
        text = document.title + '\n' + window.location.href
        window.location.href = 'http://www.facebook.com/share.php?u=' + encodeURI(text)
      }
      function shareFactTwitter{{index}}() {
        let text = '{{event.title}}'
        let url = window.location.host + '{% url 'events:detail' fact.id %}'
        window.location.href = 'https://twitter.com/intent/tweet?text=' + encodeURI(text) + '&url=' + encodeURI(url)
      }
    </script>
    <a><i class="material-icons expand_icon main_object_icon">expand_more</i></a>
  </div>

</div>
<div class="collapsible-body">
  <span>{{fact.extra_text}}</span>
  {% if fact.sources.all %}
  <div class="sources_title">Sources</div>
  <ul>
    {% for source in fact.sources.all %}
      <li><a href="{{source.url}}">{{source.title}}</a> - {{source.publication}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>