{% extends 'main/base.html' %}
{% block title %} - Resources{% if selected_tags %} about {% for tag in selected_tags %}{{ tag.display_name}}{% if not forloop.last %}, {% endif %}{%endfor%}{% endif %}{% endblock %}
{% block main %}
<style type="text/css">
  .collapsible-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  
  .collapsible li {
    
  }
  
  .collapsible-header {
    margin-top:20px;
    font-size:inherit;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  
  .link_name {
    font-size:20px;
    margin-right: 10px;
  }
  
</style>
{% include 'main/header.html' %}
<ul class="collapsible expandable">
  {% for resource_item in resource_items %}
  <li>
    <div class="collapsible-header ">
      <div class="link_text">
        <div><span class="link_name">{{ resource_item.name }}</span><span>({{ resource_item.type.name}})</span></div>
        <div>{{resource_item.description}}</div>
        {% include 'main/tags.html' with tags=resource_item.tags.all %}
      </div>
      <div class="link_buttons">
        <a href="{{resource_item.url}}"><i class="material-icons">link</i></a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% include 'main/pagination.html' with objects=resource_items %}
{% endblock %}