<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Animal Activism PDX</title>

  <!-- https://materializecss.com/ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- https://vuejs.org/ -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- https://github.com/axios/axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>




  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Open Sans', sans-serif;
      scroll-behavior: smooth;
    }

    #title_long {
      display: none;
      white-space: nowrap;
    }

    #title_short {
      white-space: nowrap;
    }

    @media only screen and (min-width: 800px) {
      #maincontainer {
        width: 800px;
        margin: 0 auto;
      }

      #title_short {
        display: none;
      }

      #title_long {
        display: inherit;
      }
    }
  </style>



  <style>
    #event_list {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    #event_list > div {
      margin-top: 20px;
      transition: all ease 0.2s;
      /*box-shadow: 0px 2px 2px lightgrey;*/
      cursor: pointer;
    }

    #event_list ul {
      margin: 0;
    }

    .event_title {
      font-size: 26px;
    }

    #pages>span {
      margin: 4px;
      cursor: pointer;
      padding: 4px;
    }

    .collapsible-header {
      display: flex;
      flex-direction: column;
    }
    .collapsible-header ul {
        font-size:18px;
        padding-left:20px;
    }

    .list_element>li {
      margin: 0 0 20px 0 !important;
      width: 100% !important;
    }


    @media only screen and (min-width: 800px) {
      #filters {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      #filters>div {
        width: 33%;
        padding: 10px;
      }
    }

    .pagination {
      text-align: center;
    }

    .list_element li.active i {
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Chrome, Safari, Opera */
      transform: rotate(180deg);
    }


    /* .event_expand_bt {
          display:table;
          height:100%;
        }
        .event_expand_bt > * {
          text-align:right;
          vertical-align: middle;
          display:table-cell;
        } */

    .event_expand_bt i {
      margin: 0;
    }

    .flex_column {
      display: flex;
      flex-direction: column;
    }

    /* #filters select, #filters input {
          background-color:white;
          padding:8px;
          color:black;
        } */


    #filters>div {
      background-color: white;
      margin: 4px;
    }

    #awiki_message {
      text-align: center;
      margin: 20px 0;
      padding: 10px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #awiki_message > * {
      margin:0 10px;
    }
    .collapsible-body {
      background-color:white;
    }
  </style>
</head>

<body class="green lighten-4">
  <div id="maincontainer">
    <nav class="green">
      <div class="nav-wrapper">
        <a href="{% url 'main:aapdx' %}" id="title_short" class="brand-logo center">AAPDX</a>
        <a href="{% url 'main:aapdx' %}" id="title_long" class="brand-logo center">Animal Activism PDX</a>
      </div>
    </nav>
    <a href="http://pdx.activewiki.org/events/animals/">
      <div id="awiki_message" class="green white-text">
        <i class="material-icons">keyboard_arrow_right</i>
        <div>aapdx.org is now part of activewiki.org - click to more info</div>
        <i class="material-icons">keyboard_arrow_left</i>
      </div>
    </a>

    <div id="event_list">
      {% if events %}
      <ul class="collapsible popout list_element">
        {% for event in events %}
        <li>
          <div class="collapsible-header">
            <div style="display:flex;flex-direction:row;justify-content: space-between;">
              <div class="flex_column">
                <div class="event_title" title="{{event.id}}">{{ event.title }}</div>
                <ul class="browser-default">
                  <li>Hosted by {{event.hosts}}</li>
                  <li>{{event.pretty_datetime}}</li>
                  <li>{{event.address}}</li>
                </ul>
              </div>
              <div class="flex_column" style="justify-content: space-between;">
                <div class="event_expand_bt">
                  <a class="green-text dont_expand" href="{{event.url}}">
                    <i class="material-icons">link</i>
                  </a>
                </div>
                <div class="event_expand_bt" style="">
                  <div class="green-text">
                    <i class="material-icons">expand_more</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body">
            <span>{{event.description | safe}}</span>
          </div>
        </li>
        {% endfor %}
      </ul>

      {% else %}
      <div style="text-align:center" class="white">no events to display</div>
      {% endif %}
    </div>

    {% include 'main/pagination.html' with objects=events %}

    <script>
      document.addEventListener('DOMContentLoaded', function() {

        var uls = document.querySelectorAll('.collapsible');
        var ul_instances = M.Collapsible.init(uls, {});
      });
    </script>
  </div>
  <script>
    let symbols = {
      // 'leaf_left': '☙',
      // 'flower': '⚘',
      'seedling': '🌱',
      'evergreen_tree': '🌲',
      'deciduous_tree': '🌳',
      // 'palm_tree': '🌴',
      'cactus': '🌵',
      // 'tulip': '🌷',
      // 'cherry_blossom': '🌸',
      'rose': '🌹',
      // 'hibiscus': '🌺',
      'sunflower': '🌻',
      // 'blossom': '🌼',
      'herb': '🌿',
      'four_leaf_clover': '🍀',
      'maple_leaf': '🍁',
      'fallen_leaf': '🍂',
      // //'leaf_fluttering_in_wind': '🍃',
      // 'tomato': '🍅',
      // 'aubergine': '🍆',
      // 'grapes': '🍇',
      // 'melon': '🍈',
      // 'watermelon': '🍉',
      // 'tangerine': '🍊',
      // 'lemon': '🍋',
      // 'banana': '🍌',
      // 'pineapple': '🍍',
      // 'red_apple': '🍎',
      // 'green_apple': '🍏',
      // 'pear': '🍐',
      // 'peach': '🍑',
      // 'cherries': '🍒',
      // 'strawberry': '🍓',
      // //'boquet': '💐',
      // 'white_flower': '💮',

      // 'white chess knight': '♘',
      // 'black chess knight': '♞',
      'rat': '🐀',
      'mouse': '🐁',
      'ox': '🐂',
      'water buffalo': '🐃',
      'cow': '🐄',
      'tiger': '🐅',
      'leopard': '🐆',
      'rabbit': '🐇',
      'cat': '🐈',
      //'dragon': '🐉',
      'crocodile': '🐊',
      'whale': '🐋',
      'snail': '🐌',
      'snake': '🐍',
      'horse': '🐎',
      'ram': '🐏',
      'goat': '🐐',
      'sheep': '🐑',
      'monkey': '🐒',
      'rooster': '🐓',
      'chicken': '🐔',
      'dog': '🐕',
      'pig': '🐖',
      'boar': '🐗',
      'elephant': '🐘',
      'octopus': '🐙',
      'spiral shell': '🐚',
      'bug': '🐛',
      'ant': '🐜',
      'honeybee': '🐝',
      'lady beetle': '🐞',
      'fish': '🐟',
      'tropical fish': '🐠',
      'blowfish': '🐡',
      'turtle': '🐢',
      'hatching chick': '🐣',
      'baby chick': '🐤',
      'front-facing baby chick': '🐥',
      'bird': '🐦',
      'penguin': '🐧',
      'koala': '🐨',
      'poodle': '🐩',
      'dromedary camel': '🐪',
      'bactrian camel': '🐫',
      'dolphin': '🐬',
      'mouse face': '🐭',
      'cow face': '🐮',
      'tiger face': '🐯',
      'rabbit face': '🐰',
      'cat face': '🐱',
      //'dragon face': '🐲',
      'spouting whale': '🐳',
      'horse face': '🐴',
      'monkey face': '🐵',
      'dog face': '🐶',
      'pig face': '🐷',
      'frog face': '🐸',
      'hamster face': '🐹',
      'wolf face': '🐺',
      'fox face': '🦊',
      'bear face': '🐻',
      'panda face': '🐼',
      'pig nose': '🐽',
      'paw prints': '🐾',
      //'grinning cat face with smiling eyes': '😸',
      //'cat face with tears of joy': '😹',
      //'smiling cat face with open mouth': '😺',
      //'smiling cat face with heart-shaped eyes': '😻',
      //'cat face with wry smile': '😼',
      //'kissing cat face with closed eyes': '😽',
      //'pouting cat face': '😾',
      //'crying cat face': '😿',
      //'weary cat face': '🙀',
      'see-no-evil monkey': '🙈',
      'speak-no-evil monkey': '🙊',
      'hear-no-evil monkey': '🙉',

    }

    let title_short = document.querySelector('#title_short')
    let title_long = document.querySelector('#title_long')

    let keys = Object.keys(symbols)
    let symbol = symbols[keys[Math.floor(keys.length * Math.random())]];
    title_short.innerHTML = symbol + ' AAPDX ' + symbol
    title_long.innerHTML = symbol + ' Animal Activism PDX ' + symbol


    // test code
    // let i = 0
    // setInterval(function() {
    //     let keys = Object.keys(symbols)
    //     let symbol = symbols[keys[i%keys.length]]
    //     i += 1
    //     title_short.innerHTML = symbol + ' PAA ' + symbol
    //     title_long.innerHTML = symbol + 'Portland Animal Activism' + symbol
    // }, 1000)

    let dont_expands = document.querySelectorAll('.dont_expand')
    for (let i=0; i<dont_expands.length; ++i) {
      // dont_expands[i].onclick = function(e) {
      //   e.stopPropagation();
      // }
      dont_expands[i].addEventListener('click', event => {
        event.stopPropagation();
      })
    }


  </script>
</body>

</html>
