{% extends 'main/base.html' %}
{% block title %} - About{% endblock %}
{% block main %}
<div class="page_title">About</div>
<p>We're rebranding from v-edge.io to ActiveWiki.org because the name is more descriptive and the .org tld is more widely recognized. ActiveWiki.org is also more flexible- it works as an organization name "ActiveWiki", a website "ActiveWiki.org", a short link "awiki.io", and a .wiki tld "active.wiki". Putting a lowercase proper noun in text is awkward, "V-edge" or "V-EDGE" are both also awkward, and nobody knows how to pronounce it. I still think v-edge is a cool name, but I'd rather build something that's actually used, and this will help.</p>
<p>Made with <3 by <a href="mailto:flux@activewiki.org">flux</a></p>


<h2>Guiding Principles</h2>
<table>
  <tr>
    <th>Positive (rights, justice, morality)</th>
    <th>Negative (oppression, ignorance, discrimination)</th>
  </tr>
  <tr>
    <td>Sentientism, Animal Rights, Veganism</td>
    <td>Speciesism, Carnism</td>
  </tr>
  <tr>
    <td>Humanism, Social Justice, Feminism, LGBTQ+</td>
    <td>Racism, Sexism, Sexualism, Classism, Ableism</td>
  </tr>
  <tr>
    <td>Environmentalism, Conservation</td>
    <td>Consumerism</td>
  </tr>
  <tr>
    <td>Democracy, Socialism</td>
    <td>Capitalism, Nationalism</td>
  </tr>
</table>

<h2>Statistics</h2>
<ul>
	<li>5325 lines of code</li>
	<li>638 events</li>
	<li>63 facts, 55 sources</li>
  <li>46 resources</li>
	<li>37 organizations</li>
	<li>8 communities</li>
	<li>6 sanctuaries</li>
</ul>

{% endblock %}