{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0"> -->

    <title>ActiveWiki.org{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'main/images/favicon.ico' %}" />
    <meta name="description" content="ActiveWiki.org is a collection of tools and resources for enabling activism"/>
    <meta property="og:image" content="{% static 'main/images/banner.jpg' %}"/>
    <meta property="og:site_name" content="ActiveWiki.org"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150088251-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150088251-1');
    </script>



    <!-- normalize css -->
    <!-- <link href="https://unpkg.com/normalize.css@8.0.1/normalize.css" rel="stylesheet"/> -->
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- materialize.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- open sans -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"/>

    <link href="{% static 'main/base.css' %}" rel="stylesheet"/>
    <script src="{% static 'main/helpers.js' %}"></script>

  </head>
  <body>
    <main>
      <ul id="dropdown_groups" class="dropdown-content">
        <li><a href="/organizations/">organizations</a></li>
        <li><a href="/communities/">communities</a></li>
        <li><a href="/sanctuaries/">sanctuaries</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo">
            <a id="theme_switch"><img src="{% static 'main/images/logo_transparent_small.png' %}" class="logo"/></a>
            <a class="nav_title" href="/">ActiveWiki.org</a>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/events/">events</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown_groups">groups</a></li>
            <li><a href="/facts/">facts</a></li>
            <li><a href="/resources/">resources</a></li>
            <li><a href="{% url 'arvo:index' %}">outreach</a></li>
          </ul>

        </div>
      </nav>
      {% for message in messages %}
      <div class="message {{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      <div class="block_main">
        {% block main %}
        {% endblock %}
      </div>
    </main>
    <ul id="slide-out" class="sidenav">
      <li><a href="/events/">events</a></li>
      <li><a href="/organizations/">organizations</a></li>
      <li><a href="/communities/">communities</a></li>
      <li><a href="/sanctuaries/">sanctuaries</a></li>
      <li><a href="/facts/">facts</a></li>
      <li><a href="/resources/">resources</a></li>
      <li><a href="{% url 'arvo:index' %}">outreach</a></li>
    </ul>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems_sidenav = document.querySelectorAll('.sidenav');
        var instances_sidenav = M.Sidenav.init(elems_sidenav, {});

        let elems_dropdowns = document.querySelectorAll('nav .dropdown-trigger');
        let instances_dropdowns = M.Dropdown.init(elems_dropdowns, {
          alignment: 'right',
          coverTrigger: false,
          constrainWidth: false
        });
      });

      let theme_switch = document.querySelector('#theme_switch')
      theme_switch.onclick = function() {
        let root = document.documentElement

        let themes = ['dark', 'light']
        for (let i=0; i<themes.length; ++i) {
          let next_theme_id = (i+1)%themes.length;
          if (root.getAttribute('data-theme') == themes[i]) {
            root.setAttribute('data-theme', themes[next_theme_id])
            localStorage.setItem('theme', themes[next_theme_id])
            break
          }
        }
      }
      // localStorage.removeItem('theme')
      let theme = localStorage.hasOwnProperty('theme')? localStorage.getItem('theme'): 'dark'
      document.documentElement.setAttribute('data-theme', theme)


    </script>
  </body>
</html>
