{% extends 'main/base.html' %}
{% block title %} - Get Active{% endblock %}
{% block main %}
<style type="text/css">

  .collapsible-header {
    margin-bottom:20px;
    text-align:center;
    display:block;
    font-size:24px;
    color: var(--collapsible-header-link-color);
  }
  p {
    text-align:center;
    max-width:500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
</style>
<div class="page_title_center">Get Active PDX</div>
<ul class="children collapsible expandable">
  <li>
    <a class="collapsible-header" href="https://www.facebook.com/groups/pdxaa/">Portland Animal Activism</a>
    <a class="collapsible-header" href="/events/animals/">Events</a>
    <a class="collapsible-header" href="/organizations/animals/">Organizations</a>
    <a class="collapsible-header" href="/resources/animals/">Resources</a>
  </li>
</ul>
<p>Every day, millions of animals are unnecessarily exploited and slaughtered for food, clothing, experimentation, and entertainment. Their suffering is ignored and hidden by deceptive advertising. These animals need your voice. You can make a difference.</p>
{% endblock %}