
{% extends 'main/base.html' %}
{% block title %} - Go Vegan - {{subdomain.name}}{% endblock %}
{% block main %}







<style text="text/css">
  .collapsible-header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  .collapsible li {
    margin-top:20px;
  }
  .collapsible li.active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  .collapsible-body .btn {
    margin-right:20px;
    margin-top:20px;
  }
  @media only screen and (max-width: 800px) {
    .page_title_center span {
      /* white-space: nowrap; */
      display: block;
    }
  }
</style>
<div class="page_title_center"><span>Go Vegan{% if subdomain %} - </span><span>{{subdomain.name}}{% endif %}</span></div>
<div class="page_subtitle">free resources and support to help you go vegan</div>
<ul class="collapsible expandable">
  <li>
    <div class="collapsible-header">
      <div class="section_title">Learn About Animal Agriculture</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <p>We all have a right and responsibility to know where our food comes from, and how our purchases effect other people and the planet. Each year in the US, 10 billion of animals are killed for food. They're treated like parts of a manufacturing process- artificially inseminated, separated from their families, disfigured, kept in cramped and filthy conditions, and eventually violently killed. Switching to a plant-based diet is the best way to avoid contributing to this cruel and unnecessary practice.</p>
      <p><a class="btn" href="https://www.dominionmovement.com/">Dominion</a><a class="btn" href="http://www.nationearth.com/">Earthlings</a></p>
      <p>Animal agriculture is also a major contributor to climate change, deforestation, air and water pollution, and loss of biodiversity.</p>
      <p><a class="btn" href="http://www.cowspiracy.com/">Cowspiracy</a><a class="btn" href="https://www.truthordrought.com/">Truth or Drought</a></p>
      <p>Humans are also negatively impacted by animal agriculture. Those on plant-based diets have a significantly lower risk of heart disease, cancer, and diabetes. Slaughterhouse work is dangerous and traumatic, and is often performed by low-income immigrants.</p>
      <p>
        <a class="btn" href="https://www.netflix.com/title/70185045">Forks Over Knives</a>
        <a class="btn" href="https://www.theguardian.com/environment/2018/jul/05/amputations-serious-injuries-us-meat-industry-plant">Two Amputations a Week</a>
        <a class="btn" href="https://foodispower.org/environmental-and-global/environmental-racism/">Environmental Racism</a>
      </p>
    </div>

  </li>
  <li>
    <div class="collapsible-header">
      <div class="section_title">Learn About Animal Rights</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <p>Why do we treat dogs and cats with love and respect, but condemn cows, chickens, and pigs to horrific violence for the sake of our taste buds? Each species has an immense capacity for personality, intelligence, relationships, and the ability to feel pain.</p>
      <p><b>Speciesism</b> is a form of discrimination based on species, that some are more worthy of moral consideration than others because of how humans benefit from them.</p>
      <p><b>Sentientism</b> is the position that sentience, the ability to have subjective experiences, is the basis of morality. It is an extension of humanism, but is more consistent because it includes companion animals, farmed animals, and wild animals.</p>
      <p><a class="btn" href="https://sentientmedia.org/speciesism/">Speciesism</a><a class="btn" href="https://secularhumanism.org/2019/04/humanism-needs-an-upgrade-is-sentientism-the-philosophy-that-could-save-the-world/">Sentientism</a></p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="section_title">Volunteer at an Animal Sanctuary</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <p>Animal sanctuaries provide safe havens for animals who have been neglected or abused. Many sanctuaries around Portland have volunteer days, where people can help maintain the animal's living quarters and get to know them. If you've never met a cow, chicken, or pig in person, these are excellent opportunities.</p>
      <a class="btn" href="{% url 'main:other' 'sanctuaries' %}?distance=100mi">View Local Animal Sanctuaries</a>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="section_title">Learn About Plant-Based Nutrition</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <p>Although it takes some planning, switching to a plant-based diet can significantly reduce your risk of heart disease, cancer, and diabetes. Major health organizations around the world agree that plant-based diets can be healthy and nutritionally-complete.</p>
      <p>
        <a class="btn" href="https://nutritionfacts.org/">NutritionFacts.org</a>
        <a class="btn" href="https://youaretheirvoice.com/pages/the-clear-consensus">The Clear Consensus</a>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="section_title">Join a Community and Get Support</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      <p>There are many communities local and online for answering questions, sharing recipes, going on outings, and more.</p>
      <p>
        <a class="btn" href="https://www.facebook.com/groups/portlandvegans/">Portland Vegans</a>
        <a class="btn" href="https://www.meetup.com/Portland-Metro-Veggies/">Portland Metro Veggies</a>
        <a class="btn" href="https://veganbootcamp.org/">Vegan Bootcamp</a>
        <a class="btn" href="https://challenge22.com/">Challenge 22</a>
        <!-- <a class="btn" href="https://www.reddit.com/r/vegan/">/r/Vegan</a> -->
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <div class="section_title">Find Local Vegan Restaurants</div>
      <div class="section_button">
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="collapsible-body">
      {% if subdomain.subdomain == 'pdx' %}
      <p>Portland's well-known for having an extensive array of vegan restaurants.</p>
      {% endif %}
      <p>
        <a class="btn" href="https://www.happycow.net/searchmap?location={{subdomain.name|urlencode}}">Happy Cow</a>
        <a class="btn" href="https://www.google.com/maps/search/vegan+near+{{subdomain.name|urlencode}}/">Google Maps</a>
        {% if subdomain.subdomain == 'pdx' %}
        <a class="btn" href="https://www.yelp.com/c/portland/vegan">Yelp</a>
        <a class="btn" href="https://foodfightgrocery.com/pdxguide">Food Fight</a>
        {% endif %}
      </p>
    </div>
  </li>
</ul>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible.expandable');
    var instances = M.Collapsible.init(elems, {
      accordion: false,
    });
  });
</script>

{% endblock %}
