{% load static %}
<style type="text/css">

  header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
  .header_bts {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    flex-wrap:wrap;
  }
  .header_bts > * {
    margin-left:10px;
  }

  .filter {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    flex-wrap:wrap;
  }
  .filter > * {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    flex-grow:1;
  }
  .filter > * > * {
    margin: 10px;
    flex-grow:1;
  }

  .page_share_button {
    position: static;
    display:flex;
    align-items:center;
  }
  .page_share_button ul {
    position: static !important;
    -webkit-transform: none;
    transform: none !important;
  }
  .btn-floating i {
    user-select:none;
  }
  .page_share_button img {
    width:50%;
    transform:translateY(4px);
  }
  .page_share_button .btn-floating {
    text-align:center;
  }

  .page_share_button.direction-left ul, .page_share_button.direction-right ul {
    width:auto !important;
    height:auto !important;
  }


  .header_btns > * {
    margin:10px;
  }


  @media only screen and (max-width: 800px) {
    header {
      margin:10px;
    }
    .page_share_button {
      position:absolute !important;
      right:10px;
      top:108px;
      height:40px;
    }
  }

  #bt_show_filter {
    user-select:none;
    cursor:pointer;

  }
  #open_filter_text {
    font-size:20px;
    color: var(--highlight1);
    cursor:pointer;
  }

</style>
<header>
  <div class="page_title">{{data_type | title}}</div>
  <div class="header_btns">
    <a href="/{{ data_type }}/submit/"><i class=" material-icons">add</i></a>
    <a id="bt_show_filter"><i class="material-icons">filter_list</i></a>
    <a class="dropdown-trigger dont_expand" data-target="dropdown_page"><i class="material-icons">share</i></a>
    <ul id="dropdown_page" class="dropdown-content">
      <li><a id="btn_share_copy_link" href="#">Copy Link</a></li>
      <li><a id="btn_share_copy_text" href="#">Copy Text</a></li>
      <li><a id="btn_share_email" class="btn_share" href="#">Share by Email</a></li>
      <li><a id="btn_share_facebook" class="btn_share" href="#">Share on Facebook</a></li>
      <li><a id="btn_share_twitter" href="#" class="btn_share">Share on Twitter</a></li>
    </ul>
  </div>

</header>

<div class="filter">
  <div>
    <div class="input-field" {% if data_type == 'facts' or data_type == 'resources' %}style="display:none"{% elif data_type == 'sanctuaries' %}style="flex-grow:1;"{% endif %}>
      <select id="select_subdomains">
        <option value="">—</option>
        {% for sub in subdomains %}
        <option value="{{sub.subdomain}}" {% if sub.subdomain == subdomain.subdomain %}selected{% endif %}>{{sub.name}}</option>
        {% endfor %}
      </select>
      <label>Location</label>
    </div>
    <div class="input-field" {% if data_type == 'sanctuaries' %}style="flex-grow:1;"{% endif %}>
      <select id="select_causes">
        <option value="">—</option>
        {% for cause in causes %}
        <option value="{{cause.name}}" {% if cause == selected_cause %}selected{% endif %}>{{cause.name | title}}</option>
        {% endfor %}
      </select>
      <label>Cause</label>
    </div>
  </div>

  <div style="{% if data_type == 'organizations' or data_type == 'communities' or data_type == 'sanctuaries' %}flex-grow:0;{% endif %}">
    <div class="input-field" style="{% if data_type == 'organizations' or data_type == 'communities' or data_type == 'sanctuaries' %}display:none;{% endif %}">
      <select id="select_tags">
        <option value="">—</option>
        {% for tag in tags %}
          <option value="{{tag.path_name}}" {% if tag == selected_tag %}selected{% endif %}>{{ tag.display_name }}</option>
        {% endfor %}
      </select>
      <label>{{data_type_singular | title }} Tag</label>
    </div>
    <button id="btn_apply" class="btn" disabled>apply</button>
  </div>

</div>
<script type="text/javascript">



  function initializeSelects() {
    var select_elems = document.querySelectorAll('.filter select');
    var select_instances = M.FormSelect.init(select_elems, {
      dropdownOptions: {
        constrainWidth: false
      }
    });
  }


  document.addEventListener('DOMContentLoaded', function() {

    var elems_dropdowns = document.querySelectorAll('header .dropdown-trigger')
    var instances_dropdowns = M.Dropdown.init(elems_dropdowns, {
      alignment: 'right',
      coverTrigger: false
    });
    initializeSelects()
  });


  let bt_show_filter = document.querySelector('#bt_show_filter')
  let filter = document.querySelector('.filter')

  function setFilterVisible(bool) {
    if (bool) {
      filter.style.display = ''
      localStorage.setItem('filter_visible','true')
    } else {
      filter.style.display = 'none'
      localStorage.setItem('filter_visible','false')
    }
  }
  function isFilterVisible() {
    return filter.style.display == ''
  }

  function toggleFilterVisible() {
    setFilterVisible(!isFilterVisible())
  }

  setFilterVisible(localStorage.getItem('filter_visible') == 'true')
  bt_show_filter.addEventListener('click', function() {
    toggleFilterVisible()
  })


  let btn_share_email = document.querySelector('#btn_share_email')
  let btn_share_facebook = document.querySelector('#btn_share_facebook')
  let btn_share_twitter = document.querySelector('#btn_share_twitter')
  let btn_share_copy_link = document.querySelector('#btn_share_copy_link')



  btn_share_email.addEventListener('click', function() {
    let subject = encodeURI(document.title)
    let body = encodeURI(window.location.href)
    let url = 'mailto:?subject='+subject+'&body='+body
    window.location.href = url
  })
  btn_share_facebook.addEventListener('click', function() {
    window.location.href = 'http://www.facebook.com/share.php?u=' + encodeURI(window.location.href)
  })
  btn_share_twitter.addEventListener('click', function() {
    let url = 'https://twitter.com/intent/tweet?text='
                + encodeURI(document.title)
                + '&url=' + encodeURI(window.location.href)
    window.location.href = url
  })
  btn_share_copy_link.addEventListener('click', function() {
    copyToClipboard(window.location.href)
    M.toast({html: 'link copied'})
  })
  let btn_share_copy_text = document.querySelector('#btn_share_copy_text')
  btn_share_copy_text.addEventListener('click', function() {
    let text = document.title + '\n'
              + window.location.href + '\n'
    text += `{% for object in objects %}{% if data_type == 'events' %}--------------------------
{{object.title}}
{{object.hosts}}
{{object.pretty_datetime}}
{{object.address}}
{{object.url}}
{% elif data_type == 'organizations' or data_type == 'communities' or data_type == 'sanctuaries' %}
{{object.name}}
{{object.address}}
{{object.url}}
{% endif %}--------------------------{% endfor %}`

    copyToClipboard(text)
  })

  let btn_apply = document.querySelector('#btn_apply')
  let select_tags = document.querySelector('#select_tags')
  let select_causes = document.querySelector('#select_causes')
  let select_subdomains = document.querySelector('#select_subdomains')

  btn_apply.addEventListener('click', function() {
    let tag = select_tags.value
    let cause = select_causes.value
    let new_subdomain = select_subdomains.value
    let old_subdomain = '{{subdomain.subdomain}}'
    let url = null
    if (old_subdomain == '') {
      if (new_subdomain == '') {
        url = location.protocol + '//' + location.host + '/{{data_type}}/'
      } else {
        url = location.protocol + '//' + new_subdomain + '.'  + location.host + '/{{data_type}}/'
      }
    } else if (new_subdomain == '') {
      url = location.protocol + '//' + location.host.replace(old_subdomain+'.', '') + '/{{data_type}}/'
    } else {
      url = location.protocol + '//' + location.host.replace(old_subdomain+'.', new_subdomain+'.') + '/{{data_type}}/'
    }
    if (cause != '' && tag != '') {
      url += cause + '+' + tag + '/'
    } else if (cause != '') {
      url += cause + '/'
    } else if (tag != '') {
      url += tag + '/'
    }
    console.log(url)

    window.location.href = url
  })
  select_subdomains.addEventListener('change', function() {
    btn_apply.removeAttribute('disabled')
  })
  select_causes.addEventListener('change', function() {
    btn_apply.removeAttribute('disabled')
  })
  select_tags.addEventListener('change', function() {
    btn_apply.removeAttribute('disabled')
  })





</script>