{% extends 'main/base.html' %}
{% block title %}{% endblock %}
{% block main %}
<style type="text/css">

  .collapsible-header {
    margin-bottom:10px;
    text-align:center;
    display:block;
    font-size:24px;
  }
  .home_header {
    font-size:24px;
    text-align:center;
    margin:20px;
  }
  .home_footer {
    font-size:16px;
    text-align:center;
    padding-bottom:20px;
  }
</style>
<div class="home_header">ActiveWiki.org is a collection of resources for enabling activism</div>

<ul class="collapsible expandable">
  {% for link in links %}
  <li>
    <a class="collapsible-header" href="/{{link}}/">{{link}}</a>
  </li>
  {% endfor %}
</ul>
<div class="home_footer">Comments, suggestions, problems? Message <a href="mailto:flux@activewiki.org">flux@activewiki.org</a></div>
{% endblock %}