{% extends 'main/base.html' %}
{% block title %} - Restaurants{% endblock %}
{% block main %}
<div class="page_title">Restaurants</div>
<a class="btn" href="https://www.google.com/maps/search/vegan+near+Portland,+Oregon/">Google Maps</a>
<a class="btn" href="https://www.happycow.net/searchmap?location=Portland, Oregon">HappyCow</a>
<a class="btn" href="https://foodfightgrocery.com/pdxguide">Food Fight - Portland Vegan Guide</a>
{% endblock %}